/********** Template CSS **********/
:root {
    /* --primary: #86B817; */
    --primary:rgb(190, 93, 41);
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}
.mb-3-3{
    color: rgb(190, 93, 41);
}
.mb-0-0{
    color: rgb(190, 93, 41);
}
.me-2-2{
    color: rgb(190, 93, 41);
}
/* .mb-1{
    color: rgb(190, 93, 41);
} */
.mb-1-1, .mt-0-0{
    color: rgb(190, 93, 41);
}

h3.hny-title,
h3.hny-title.two {
  font-size: 36px;
  line-height: 46px;
  color: #141414;
  margin-bottom: 24px;
  text-transform: capitalize;
  font-weight: 700;
}

h3.hny-title.two {
  color: #fff;
}

.sub-title-1 {
    color: #F2C532;
  }
  
  .sub-title:before,
  .sub-title-1::before {
    content: '';
    display: block;
    width: 55px;
    height: 3px;
    background-color: #DB162F;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
  }
  
  .hny-sub-head {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background: #006989;
    padding: 4px 10px;
    margin-bottom: 16px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 4px;
  }

.fa fa-arrow-right text me-2{
 color: #FE8800;
}
.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #FFFFFF !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}


/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(55, 55, 77, 0.7), rgba(20, 20, 31, .7)), url(../img/banner11.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 50em;
    position: relative;
}
.hero-header-1{
    background: linear-gradient(rgba(55, 55, 77, 0.7), rgba(20, 20, 31, .7)), url(../img/taj.jpg)  no-repeat center;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 50em;
    position: relative;
}
.hero-header-2{
    background: linear-gradient(rgba(55, 55, 77, 0.7), rgba(20, 20, 31, .7)), url(../img/boat3.jpg)  no-repeat center;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 50em;
    position: relative;
}
.hero-header-3{
    background: linear-gradient(rgba(55, 55, 77, 0.7), rgba(20, 20, 31, .7)), url(../img/banner4.jpg)  no-repeat center;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 50em;
    position: relative;
}
.hero-header-4{
    background: linear-gradient(rgba(55, 55, 77, 0.7), rgba(20, 20, 31, .7)), url(../img/banner3.jpg)  no-repeat center;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 50em;
    position: relative;
}



.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Destination ***/
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}


/*** Package ***/
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}


/*** Booking ***/
.booking {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/booking.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.inner-w3pvt-wrap {
    padding-top: 2em;
}

.inner-w3pvt-wrap h4 {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.inner-sec-grid {
    padding: 2.5em 2em;
    border: none;
    transition: none;
    border: 1px solid #999;
}
.inner-sec-grid span.fa {
    font-size: 2em;
    color: #047ffc;
}
.choose {
    background: url(../img/munnar.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.choose h2.heading{
	color: #fff;
}
.overlay-all {
    background: rgba(0, 0, 0, 0.5);
}
.inner-w3pvt-wrap p {
    font-size: 15px;
    color: #ccc;
}

.tab-main section {
    display: none;
}

.tab-main input.w3pvt-sm {
    display: none;
}

.tab-main label {
    display: inline-block;
    padding: 12px 25px;
    color: #333;
    background: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.tab-main span {
    margin-right: 0.5em;
}

.tab-main label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
    opacity: 0;
    display: none;
}

.tab-main label[for*='1']:before {
    content: '\f1cb';
}

.tab-main label[for*='2']:before {
    content: '\f17d';
}

.tab-main label[for*='3']:before {
    content: '\f16c';
}

.tab-main label[for*='4']:before {
    content: '\f171';
}

.tab-main label:hover {
    cursor: pointer;
}

.tab-main input:checked+label {
    background: #047ffc;
    color: #fff;
}

.tab-main #tab1:checked~#content1,
.tab-main #tab2:checked~#content2,
.tab-main #tab3:checked~#content3,
.tab-main #tab4:checked~#content4 {
    display: block;
}


/*-- text --*/

.text-content {
    background: url(../img/india.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    position: relative;
}
.overlay-inner {
    background: rgba(0, 0, 0, 0.5);
}

.order-left-content h4 {
    font-size: 4em;
    font-weight: 600;
}
.test-info p {
    color: #eee;
}
h4.tittle {
    font-size: 3.3em;
    color: #fff;
    font-weight: 300;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 0;
}
.test-info a{
    border: 2px solid #fff;
    border-radius: 0px;
    padding: 11px 30px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: inline-block;
}
.test-info {
    max-width: 700px;
}
/*-- //text --*/



/* .w3l-covers-vv-main .covers-19 {
    background: url(../img/1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 100px 0;
    position: relative;
    z-index: 0;
  }
  
  .w3l-covers-vv-main .covers-19:before {
    content: "";
    background: rgba(8, 67, 76, 0.74);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
  }
  
  .w3l-covers-vv-main .midd-cover-19 {
    max-width: 450px;
    background: #fff;
    padding: 35px 40px 40px;
    margin-left: auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
  }
  
  .w3l-covers-vv-main h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background: #006989;
    padding: 4px 10px;
    margin-bottom: 16px;
    display: inline-block;
    border-radius: 4px;
  }
  
  .w3l-covers-vv-main h3.hny-title {
    margin-bottom: 10px;
  }
  
  .w3l-covers-vv-main h3.hny-title a {
    color: #141414;
    margin: 0;
    display: inline-block;
    font-size: 32px;
    line-height: 40px;
  }
  
  .w3l-covers-vv-main p {
    color: #8C8C8C;
  }
  
  @media (max-width: 992px) {
    .w3l-covers-vv-main h3.hny-title a {
      font-size: 26px;
      line-height: 36px;
    }
} */

.w3l-clients .call-w3 {
    background: url(../img/3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    z-index: 0;
    position: relative;
    display: grid;
    padding: 120px 0px;
    align-items: center; }
  
  .w3l-clients .call-w3:before {
    width: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: .6;
    z-index: -1; }
  
  .w3l-clients a.btn-theme2 {
    padding: 0px 30px;
    color: #fff;
    height: 55px;
    display: inline-block;
    font-size: 16px;
    line-height: 55px;
    text-transform: capitalize;
    font-weight: 700;
    transition: 0.3s ease-in;
    background-color: #40bad5;
    border-color: #40bad5; }
  
  .w3l-clients a.btn-theme2:hover {
    background-color: #fcbf1e;
    border-color: #fcbf1e;
    color: #fff; }
  
  .w3l-clients .title-head h3 {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700; }
  
  .w3l-clients .title-head p {
    font-size: 17px;
    line-height: 30px;
    max-width: 600px;
    margin: 25px auto 0px;
    color: #ddd; }
  
  @media (max-width: 1280px) {
    .w3l-clients .call-w3 {
      padding: 100px 0px; } }
  
  @media (max-width: 991px) {
    .w3l-clients .title-head h3 {
      font-size: 40px;
      line-height: 50px; }
    .w3l-clients .call-w3 {
      padding: 80px 0px; } }
  
  @media (max-width: 667px) {
    .w3l-clients .title-head h3 {
      font-size: 35px;
      line-height: 45px; } }
  
  @media (max-width: 480px) {
    .w3l-clients .title-head h3 {
      font-size: 30px;
      line-height: 40px; }
    .w3l-clients .title-head p {
      margin: 15px auto 0px; }
    .w3l-clients .call-w3 {
      padding: 60px 0px; } }
  
  @media (max-width: 440px) {
    .w3l-clients .text-para {
      font-size: 15px; }
    .w3l-clients .call-w3 {
      padding: 40px 0px; } }